.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14pt;
  color: white;
}

nav {
  margin: 8px;
}

nav > span {
  margin: 4px;
}

a {
  color: #61dafb;
}

textarea {
  width: 600px;
  height: 450px;
}